@model IEnumerable<CadastroClientes.Core.Models.Cliente>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
</head>
<body>
    <center><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #000099;">Cadastro de Clientes</h2></center>
    <a asp-action="Create" class="btn btn-primary" title="Cadastrar novo Cliente">Novo Cliente</a>
    <p>&nbsp;</p>

    <div class="container">
        <table id="tbList" class="ui celled table" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 250px">Nome</th>
                    <th style="width: 210px">Email</th>
                    <th style="width: 90px">DataInclusão</th>
                    <th style="width: 70px">DataAlteração</th>
                    <th style="width: 60px"><em class="fa fa-cog"></em></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var clientes in Model)
                    {
                        <tr>
                            <td>@(clientes.Nome ?? "N/A")</td>
                            <td>@(clientes.Email ?? "N/A")</td>
                            <td>@(clientes.DataInclusao.ToString("dd/MM/yyyy"))</td>
                            <td>@(clientes.DataAlteracao.HasValue ? clientes.DataAlteracao.Value.ToString("dd/MM/yyyy") : "N/A")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@clientes.Id" style="color: blue" title="Visualiza os Detalhes do Cliente"><i class="fa-solid fa-magnifying-glass"></i></a> |
                                <a asp-action="Edit" asp-route-id="@clientes.Id" style="color: green" title="Edita os Dados do Cliente"><i class="fas fa-edit"></i> </a> |
                                <a asp-action="Delete" asp-route-id="@clientes.Id" style="color: red" title="Exclui o Cadastro do Cliente"><i class="fas fa-trash-alt"></i>  </a> |
                                <a asp-action="Index" asp-controller="Logradouros" asp-route-clienteid="@clientes.Id" style="color: #ff9900" title="Adiciona um Logradouro para o Cliente"><i class="fa-solid fa-city"></i>  </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- Modal que exibe a mensagem quando o cliente é INSERIDO -->
    <div class="modal fade" id="createSuccessModal" tabindex="-1" aria-labelledby="createSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do(a) <b>Cliente</b> Foram Inseridos no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o cliente é INSERIDO -->

    <!-- Modal que exibe a mensagem quando o cliente é ALTERADO -->
    <div class="modal fade" id="editSuccessModal" tabindex="-1" aria-labelledby="editSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do(a) <b>Cliente</b> Foram Alterados no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o cliente é ALTERADO -->

    <!-- Modal que exibe a mensagem quando o cliente é EXCLUÍDO -->
    <div class="modal fade" id="deleteSuccessModal" tabindex="-1" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do(a) <b>Cliente</b> Foram Excluídos no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o cliente é EXCLUÍDO -->
    
    <script>
        $(document).ready(function () {            
            var createSuccess = '@TempData["CreateSuccess"]';

            if (createSuccess.toLowerCase() === 'true') {
                $('#createSuccessModal').modal('show');
            }

        });
    </script>

    <script>
        $(document).ready(function () {            
            var editSuccess = '@TempData["EditSuccess"]';

            if (editSuccess.toLowerCase() === 'true') {
                $('#editSuccessModal').modal('show');
            }
        });
    </script>

    <script>
        $(document).ready(function () {            
            var deleteSuccess = '@TempData["DeleteSuccess"]';

            if (deleteSuccess.toLowerCase() === 'true') {
                $('#deleteSuccessModal').modal('show');
            }
        });
    </script>

    <script type="text/javascript">
        new DataTable('#tbList', {
            "pagingType": "first_last_numbers",
            language:
            {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
            },
            "autoWidth": false  
        });
    </script>
</body>
</html>