@model IEnumerable<CadastroClientes.Core.Models.Logradouro>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
</head>
<body>
    @{
        var clienteId = ViewBag.ClienteId ?? 00;
        if (clienteId > 0)
        {
            <center>
                <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #000099;">
                    Cadastro de Logradouros do(a) Cliente:
                </h2>
                <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #000000;">
                    @(ViewBag.ClienteNome ?? "N/A")
                </h2>
            </center>
        }
        else
        {
            <center><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #000099;">Cadastro de Logradouros</h2></center>
        }

    }    
    <p>&nbsp;</p>
    <a asp-action="Index" asp-controller="Clientes" class="btn btn-warning ml-2" title="Retorna à Área de Clientes">Voltar</a> &nbsp;
    <a asp-action="Create" asp-controller="Logradouros" asp-route-clienteid="@clienteId" class="btn btn-primary" title="Cadastrar novo Logradouro">Novo Logradouro</a>
    <p>&nbsp;</p>

    <div class="container">
        <table id="tbList" class="ui celled table" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 250px">Endereço</th>
                    <th style="width: 250px">Complemento</th>
                    <th style="width: 210px">Bairro</th>
                    <th style="width: 210px">Cidade</th>
                    <th style="width: 100px">UF</th>
                    <th style="width: 75px">Dt.Inclusão</th>
                    <th style="width: 70px">Dt.Alteração</th>
                    <th style="width: 110px"><em class="fa fa-cog"></em></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var logradouros in Model)
                    {
                        <tr>
                            <td>@(logradouros.Endereco)</td>
                            <td>@(logradouros.Complemento ?? "N/A")</td>
                            <td>@(logradouros.Bairro)</td>
                            <td>@(logradouros.Cidade)</td>
                            <td>@(logradouros.Uf)</td>
                            <td>@(logradouros.DataInclusao.ToString("dd/MM/yyyy"))</td>
                            <td>@(logradouros.DataAlteracao.HasValue ? logradouros.DataAlteracao.Value.ToString("dd/MM/yyyy") : "N/A")</td>
                            <td>
                                <a asp-action="Details" asp-controller="Logradouros" asp-route-id="@logradouros.Id" asp-route-clienteid="@ViewBag.ClienteId" style="color: blue" title="Visualiza os Detalhes do Logradouro"><i class="fa-solid fa-magnifying-glass"></i></a> |
                                <a asp-action="Edit" asp-controller="Logradouros" asp-route-id="@logradouros.Id" asp-route-clienteid="@ViewBag.ClienteId" style="color: green" title="Edita os Dados do Logradouro"><i class="fas fa-edit"></i> </a> |
                                <a asp-action="Delete" asp-controller="Logradouros" asp-route-id="@logradouros.Id" asp-route-clienteid="@ViewBag.ClienteId" style="color: red" title="Exclui o Cadastro do Logradouro"><i class="fas fa-trash-alt"></i>  </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- Modal que exibe a mensagem quando o Logradouro é INSERIDO -->
    <div class="modal fade" id="createSuccessModal" tabindex="-1" aria-labelledby="createSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do <b>Logradouro</b> Foram Inseridos no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o Logradouro é INSERIDO -->
    <!-- Modal que exibe a mensagem quando o Logradouro é ALTERADO -->
    <div class="modal fade" id="editSuccessModal" tabindex="-1" aria-labelledby="editSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do <b>Logradouro</b> Foram Alterados no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o Logradouro é ALTERADO -->
    <!-- Modal que exibe a mensagem quando o Logradouro é EXCLUÍDO -->
    <div class="modal fade" id="deleteSuccessModal" tabindex="-1" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color: #ffff99; background-color: #009933; height: 30px;">
                    <h5 class="modal-title text-center" style="font-weight: bold; text-align: center; margin: 0 auto; display: table;">SUCESSO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Os Dados do <b>Logradouro</b> Foram Excluídos no Cadastro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal que exibe a mensagem quando o Logradouro é EXCLUÍDO -->
    <!-- Script para Chamar o Modal Logradouro Inserido -->
    <script>
        $(document).ready(function () {
            var createSuccess = '@TempData["CreateSuccess"]';

            if (createSuccess.toLowerCase() === 'true') {
                $('#createSuccessModal').modal('show');
            }

        });
    </script>
    <!-- Fim Script para Chamar o Modal Logradouro Inserido -->
    <!-- Script para Chamar o Modal Logradouro Alterado -->
    <script>
        $(document).ready(function () {
            var editSuccess = '@TempData["EditSuccess"]';

            if (editSuccess.toLowerCase() === 'true') {
                $('#editSuccessModal').modal('show');
            }
        });
    </script>
    <!-- Fim Script para Chamar o Modal Logradouro Alterado -->
    <!-- Script para Chamar o Modal Logradouro Excluído -->
    <script>
        $(document).ready(function () {
            var deleteSuccess = '@TempData["DeleteSuccess"]';

            if (deleteSuccess.toLowerCase() === 'true') {
                $('#deleteSuccessModal').modal('show');
            }
        });
    </script>
    <!-- Fim Script para Chamar o Modal Logradouro Excluído -->
    <!-- Script Data Table -->
    <script type="text/javascript">
        new DataTable('#tbList', {
            "pagingType": "first_last_numbers",
            language:
            {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
            },
            "autoWidth": false
        });
    </script>
    <!-- Fim Script Data Table -->
</body>
</html>